name: Build and Push Docker Image

on:
  workflow_dispatch: 
  push:
    branches:
      - main     
      - feature/*  
permissions:
  packages: write
  contents: read
jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:          
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}     
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .              
          push: true
          tags: ghcr.io/marrybye/kpz-9:latest

      - name: Login to azure
        uses: azure/login@v2  
        with: 
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v2
        with:
          app-name: KPZ-10-WebApp
          images: ghcr.io/marrybye/kpz-9:latest
